* {
  margin: 0;
}

:root{
  --margin: 1.5rem;
  --column-count: 12;
}

body {
  margin-top: var(--margin);
  display: grid;
  grid-template-columns: 
    minmax(1rem, 1fr) 
    repeat(var(--column-count), minmax(0, 1fr)) 
    minmax(1rem, 1fr);
  grid-gap: var(--margin);
}

#search_form {
  display: grid;
  grid-column: 2 / span var(--column-count);
  grid-gap: inherit;
  grid-template-columns: subgrid;
}

.search-text {
  grid-column: 2 / span var(--column-count);
  margin: 0;
  text-align: center;
}

#search-aria {
  grid-row: 2 / 3;
  grid-column: 1 / span calc(var(--column-count) - 1);
}

#search_btn {
  grid-row: 2 / 3;
  grid-column: 13 / 14;
}

#response {
  display: grid;
  grid-column: 2 / span var(--column-count);
  grid-gap: inherit;
  grid-template-columns: subgrid;
}

.movie {
  display: inherit;
  grid-template-columns: inherit;
  grid-column: span calc(var(--column-count) / 2);
  border: 1px solid black;
  height: 10rem;
}

.movie img {
  grid-area: 1 / 1 / span 2 / span 2;
  max-height: 100%;
}

.movie-title{
  grid-column: span 3;
}

.movie-relise{
  grid-column: span 3;
}
